h1 {
  font-family:"Futura";
  text-align:center;
}

body {
  text-align:center;
}

ul {
  list-style-type: none;
  font-family:"Futura";
  font-size:16px;
  color:#000000;
<<<<<<< HEAD
}

.button {
  padding:1px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: "Futura";
  font-weight:bold;
  border-radius: 4px;
  margin-top:1%;
=======
>>>>>>> e415f4d3de39e42453ccfc3862d2bb77ea4978d9
}