<head><link rel="stylesheet" type="text/css" href="new.css"></head>

<h1>Create a manufacturer</h1>
<body>
<%= simple_form_for @manufacturer do |f| %>
  <ul>
    <li><%= f.input :name %></li>
    <li><%= f.input :country, as: :select, collection:country_dropdown %></li>
    <%= f.button :submit %>
  </ul>
<body>
<% end %>

